@import "../App/App";

.formatter {
  display: flex;
  justify-content: center;
  
  &_content {
    @media(max-width: $mobileBreakpoint) {
      width: 100%;
    }
    
    & > .ant-card {
      margin-top: 3rem;
    }
  }
}